<h3>NgModule</h3>
<ul>
  <li>
    NgModule Introduction
    <ul>
      <li>
        An application has at least one module, which is the root module.
      </li>
      <li>
        configure the injector and the compiler
        <ul>
          <li>
            import other modules
          </li>
          <li>
            declare components, directives and pipes belong to this module
          </li>
          <li>
            make components, directives and pipes be public
          </li>
          <li>
            provide services to the application
          </li>
        </ul>
      </li>
      <li>
        organize related things together
      </li>
    </ul>
  </li>
  <li>
    Declarations
    <ul>
      <li>
        A list of declarable classes, (components, directives, and pipes) that belong to this module.
      </li>
      <li>
        Components, directives, and pipes must belong to exactly one module.
      </li>
    </ul>
  </li>
  <li>
    Providers
    <ul>
      <li>
        Dependency Injection about how to obtain value for a dependency.
        The dependencies are the services created.
      </li>
      <li>
        In user.service.ts, <span class="example-code">provideIn: 'root'</span> specifies that the service should be provided in the root injector, this service will be available throughout the app.
      </li>
      <li>
        In user.service.ts, <span class="example-code">provideIn: UserModule</span> specifies that the service should be provide in the particular <span class="example-code">NgModule</span>, this service will be available unless the app import the <span class="example-code">UserModule</span>.
      </li>
      <li>
        In user.module.ts, <span class="example-code">providers: [UserService]</span> declares a provider for the service within the module.
      </li>
      <li>
        In app.component.ts, <span class="example-code">providers: [UserService]</span> providing a service in the component limits the service only to that component, other components in the same module can't access it.
      </li>
    </ul>
  </li>
  <li>
    Imports
    <ul>
      <li>
        A list of module which should be folded into this module. Folded means it is as if all the imported NgModule's exported proporties were declared here.
      </li>
      <li>
        Specifically, it is as if the list of modules whose exported components, directives, or pipes are referenced by the component templates were declared in this module.
      </li>
      <li>
        A component template can reference another component, directive, or pipe when the reference is declared in this module or if the imported module has exported it.
      </li>
    </ul>
  </li>
  <li>
    Exports
    <ul>
      <li>
        Importing a module does not automatically re-export the imported module's imports.
      </li>
      <li>
        Module B imports Module A, Module A imports the commonModule to use NgIf and does not export the commonModule, Module B cannot use NgIf.
        If Module A re-exports the commonModule, Module B can use NgIf.
      </li>
    </ul>
  </li>
  <li>
    Bootstrap
    <ul>
      <li>
        A list of components that are automatically bootstrapped.
      </li>
      <li>
        Usually there's only one component in this list, the root component of the application.
      </li>
      <li>
        Angular can launch with multiple bootstrap components, each with its own location in the host web page.
      </li>
      <li>
        A bootstrap component is automatically added to entryComponents.
      </li>
    </ul>
  </li>
  <li>
    entryComponents
    <ul>
      <li>
        A list of components that can be dynamically loaded into the view.
      </li>
      <li>
        By default, an Angular app always has at least one entry components, the root component, AppComponent.
        Its purpose is to serve as a point of entry into the app, that is, you bootstrap it to launch the app.
      </li>
      <li>
        Routed component are also entry components because they need to be loaded automatically.
      </li>
      <li>
        While the bootstrapped components are entry components, you don't have to add them to a module's entryComponents list, as they are loaded implicitly.
      </li>
      <li>
        Angular automaticall adds components in the module's bootstrap and route definition into the entryComponents list.
      </li>
      <li>
        Dynamic component loading is not common in most apps beyond the router. If you need to dynamically load components, you must add these components to the entryComponents list yourself.
      </li>
    </ul>
  </li>
</ul>